# База данных PostgreSQL
POSTGRESQL_HOST=your_host
POSTGRESQL_PORT=5432
POSTGRESQL_USER=your_username
POSTGRESQL_PASSWORD=your_password
POSTGRESQL_DBNAME=your_database_name

# ChatGPT API
OPENAI_API_KEY=your_openai_api_key

# Тинькофф платежи
TINKOFF_TERMINAL_KEY=your_terminal_key
TINKOFF_PASSWORD=your_password

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# Порт сервера
PORT=5000
